BROKER_ISSUER=http://localhost:3001
BROKER_PORT=3001
KEYCLOAK_BROKER_REDIRECT_URI=http://localhost:8080/realms/verana-playground/broker/verana-wallet/endpoint
VS_AGENT_VERIFIER_BASE_URL=http://localhost:3201
EXPECTED_VCT=https://unfold-org.77.42.86.24.sslip.io/vct/unfold-attestation
EXPECTED_VTJSC_ID=https://unfold-org.77.42.86.24.sslip.io/vt/schemas-unfold-attestation-jsc.json
SECTOR_IDENTIFIER=verana-playground
BROKER_JWKS_PATH=.data/broker-jwks.json

DEMO_APP_PORT=3000
KEYCLOAK_ISSUER=http://localhost:8080/realms/verana-playground
KEYCLOAK_CLIENT_ID=playground-app
DEMO_APP_REDIRECT_URI=http://localhost:3000/callback
VS_AGENT_ISSUER_BASE_URL=http://localhost:3101
VS_AGENT_HOLDER_BASE_URL=http://localhost:3101

VERANA_RESOLVER_URL=https://resolver.testnet.verana.network/v1/trust
EXPECTED_ISSUER_DID=did:webvh:QmPjKbgpLykjtHGTUfVRNoHra94mjitQsFniXYCTgmNYzG:unfold-org.77.42.86.24.sslip.io
EXPECTED_VERIFIER_DID=did:webvh:QmZ9BT7AsWf62ubssns11KfiuauuoVk2v3zL8HYbGSFVTU:unfold-verifier.77.42.86.24.sslip.io
